*{
    margin : 0;
    padding : 0;
}

main a{
    outline : none;
    text-decoration: none;
    color : inherit;
}
button {
    cursor : pointer;
    border : 0;
    outline : 0;   
}

main .shelter{
    padding: 0 100px;
    display: flex;
    justify-content : center;
    align-items : center;
    background-color : black;
}
main .shelter-nav{
    padding: 0 100px;
    height : 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    border-radius: 1rem;
    background-color: #FF385C;
    text-align : center;
}
main .shelter-nav span{
    color : white;
    font-size : 3rem;
    text-align : center;
}
main .shelter-detail{
    border: 1px solid white;
    padding : 10px;
    color : white;
    cursor : pointer;
    border-radius : 0.4rem;
    transition : 0.3s ease-out;
}
main .shelter-detail:hover{
    color : #000;
    background-color: #fff;
}

.accomodation{
    width : 100%;
    /* position : relative; */
}

.lodge{
    padding : 100px;
    position : relative;
}
.lodge img{
    width: 100%;
    border-radius : 1rem;
}
.accomodation{
    height : 50rem;
    background-image : linear-gradient(0deg, #FFFFFF, #FFFFFF 46.25%, #000000 46.25%, #000000 100%);
}

.curiosity{
    position : absolute;
    left : 50%;
    bottom : 20rem;
    transform : translate(-50%); 
    font-size : 3rem;
    color : white;
}
.curiosity-click{
    text-align: center;
    width : 10rem;
    position: absolute;
    padding : 0.5rem;
    cursor : pointer;
    left:50%;
    bottom : 12rem;
    transform : translate(-50%);
    font-size : 2rem;
    background-color : #fff;
    color : #460479;
    border-radius : 0.5rem; 
    transition : 0.3s ease-out;
}
.curiosity-click:hover{
    color : white;
    background-color:#460479;
}
.idea{
    margin : auto;
    padding-top: 10rem;
    font-size : 2rem;
    height : 30rem;
}
#next-travel{
    padding-left : 100px;
}

.cities{
    padding : 0 70px;
    display: flex;
    justify-content: space-between;
    align-items : center;
}

.city{
    cursor : pointer;
    display: flex;
    flex-direction: column;
    margin : 0 13px;
    height : 30rem;
    border-radius : 1rem;
    transition : 0.3s ease-out;
    /* background-color : black; */
}

.city:hover{
    transform: scale(1.05);
}

.seoul, .incheon, .daegu, .daejeon {
    height : 20rem;
    border-radius : 5rem 5rem 0rem 0rem;
    width: 100%;
}

#seoul, #incheon, #daegu, #daejeon{
    height : 20rem;

    border-radius : 0rem 0rem 5rem 5rem;
}

#seoul{
    background:#460479;
}
#incheon{
    background : powderblue;
}
#daegu{
    background : orange;
}
#daejeon{
    background: #CC2D4A;
}

.cityname{
    padding-top : 1rem;
    padding-left : 1rem;
    font-size : 2rem;
    color : #fff;   
}
.distance{
    color : #fff;
    padding-left : 1rem;
    font-size : 1.6rem;
}

.travel-experiences span{
    padding : 0 100px;
    font-size : 2.5rem;
}
.travel-experiences{
    margin : auto;
    padding-top: 10rem;
    font-size : 3rem;
    width : 100%;

}

.experiences{
    padding : 0 80px;
    display: flex;
    justify-content: center;
    align-items : center;
    
}

.experience{
    position : relative;
    
    margin : 1rem;
    display: flex;
    /* flex-direction: column; */
    border-radius : 2rem;
    background-color : black;
}
#experience{
    position : absolute;
    top : 3rem;
    left : -3rem;
    font-size : 2.8rem;
    color : #fff;
}
.experience img{
    height: auto;
    border-radius : 2rem;
    width: 100%;
}
.experience-button{
    cursor: pointer;
    position : absolute;
    background-color : white;
    padding : 1rem 1.5rem 1rem 1.5rem; 
    font-size : 1rem;
    border-radius : 0.5rem;
    left: 3rem;
    top : 10.5rem;
    transition : 0.3s ease-out;
}
.experience-button:hover{
    background-color : orange;
    color : white;
}
.host{
    padding : 0 100px;
    margin : auto;

    position : relative;
    border-radius : 1rem;
}
#ask-host{
    font-size : 5rem;
    
    top : 7rem;
    left : 10rem;
    position : absolute;
    color : white;
}
#host-button{
    position : absolute;
    background-color : white;
    bottom : 20rem; 
    
    left : 10rem;
    padding : 1rem 1.8rem 1rem 1.8rem;
    border-radius : 2rem;
    cursor : pointer;
    transition : 0.3s ease-out;
}
#host-button:hover{
    background-color : sandybrown;
    color : white;
}
.host img{
    border-radius : 1rem;
    width: 100%;
}
footer{
    border:none;
    font-size: 14px;
    line-height: 18px;
    background-color:#f7f7f7;
    padding:0px 80px;
}

a{color:black; text-decoration:none;
}

.info-list {
    display:flex;
    justify-content:space-between;
    padding:48px 0px;
    line-height:30px;
}

ul {
    padding:0;
    list-style: none;
}

.basic-info li:not(.icon):not(.detail):not(.KRW) {margin-right: 12px;
}
li.KRW {margin-right: 50px;}
.basic-info {
    display:flex;
    padding-top:24px;
    padding-bottom: 24px;
    border-top: 1px solid;
}

.word-info-class {
    display:flex;
}

.lang-price-class{
    display:flex;
}

.earth{
    display:flex;
    width:17px;
    height:17px;
}

.social-icon{
    display:flex;
    float:right;
    margin:auto;
    width: 140px;
    height: 21px;
}

.basic-info{
    display:flex;
    justify-content:space-between;
}

body {
    margin: 0px;
}

header {
    margin: 0px;
    background-color: black;
}

.update {
    color: white;
    font-size: 15px;
    font-style: unset;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#covid {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.site-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.header-logo img {
    width: 50px;
    height: 50px;
}

#logo-text {
    color: white;
    width: 100px;
    height: 50px;
    margin: 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text{
    color: white;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
}

.main-text p {
    width: 100px;
    margin: 0 10px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    color: white;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-info img {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 25px;
}

.user-info p {
    width: 80px;
    font-size: 17px;
}

.user-detail {
    width: 70px;
    height: 40px;
    background-color: white;
    padding: 0 5px;
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.user-detail img {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 0;
}

.search-box {
    height: 100px;
    display: flex;
    justify-content: center;
}

.search {
    background-color: white;
    border-radius: 30px;
    width: 800px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

input {
    background-color: white;
    color: black;
    width: 100px;
    height: 20px;
    border: 0px white;
    border-radius: 10px;
    font-size: 10px;
}

.location {
    background-color: white;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location p {
    color: black;
    width: 100px;
    height: 20px;
    margin: 0px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.checkin {
    background-color: white;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkin p {
    color: black;
    width: 100px;
    height: 20px;
    margin: 0px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.checkout {
    background-color: white;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout p {
    color: black;
    width: 100px;
    height: 20px;
    margin: 0px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.num_person {
    background-color: white;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.num_person p {
    color: black;
    width: 100px;
    height: 20px;
    margin: 0px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.search-button {
    background-color: rgb(225, 41, 102);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button img {
    background-color: rgb(225, 41, 102);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
}

